<app-toolbar></app-toolbar>
<header class="main-container">
  <div>
    <h1>{{ stockResponse.name }} Share</h1>
    <h2>Current Stock Price: {{ stockResponse.currentPrice }}</h2>
    <h2>Amount of stocks available: {{ stockResponse.amount }}</h2>
  </div>
</header>
<div class="main-container">
  <div class="child-container">
    <h2>10 previous actions:</h2>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Index</th>
            <th>Trader Name</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Type Of Purchase</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of this.transactions">
            <td>{{ transaction.id }}</td>
            <td>{{ transaction.traderId }}</td>
            <td>{{ transaction.price }}</td>
            <td>{{ transaction.amount }}</td>
            <td *ngIf="transaction.purchase">Purchase</td>
            <td *ngIf="!transaction.purchase">Sale</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="child-container">
    <h2>Open transactions:</h2>
    <table>
      <thead>
        <tr>
          <th>Index</th>
          <th>Trader Name</th>
          <th>Price</th>
          <th>Amount</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of this.openRequests">
          <td>{{ request.id }}</td>
          <td>{{ request.traderId }}</td>
          <td>{{ request.offer }}</td>
          <td>{{ request.amount }}</td>
          <td *ngIf="request.purchase">Purchase</td>
          <td *ngIf="!request.purchase">Sale</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="child-container">
    <h2>Create new share request</h2>
    <form>
      <label class="form_label">Type of request:</label>
      <select #purchase_type id="purchase_share" class="form_child">
        <option value="purchase">Purchase</option>
        <option value="sell">Sell</option>
      </select> <br/>
      <label class="form_label" for="broker_id">Offer:</label>
      <input
        #share_offer
        class="form_child"
        type="number"
        id="share_offer"
        placeholder="Enter your offer"
      /><br />
      <label class="form_label" for="broker_id">Share Amount:</label>
      <input
        #share_amount
        class="form_child"
        type="number"
        id="share_amount"
        placeholder="Enter amount"
      /><br />
      
    </form>
    <button class="form_child" 
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      (click)="onSubmit()">Enter request</button>
  </div>
</div>
