<app-toolbar></app-toolbar>
<header class="main-container">
  <div>
    <h1>{{ stock.name }} Share</h1>
    <h2>
      Current Stock Price: {{ stock.currentPrice }} <br />
      Amount of stocks available: {{ stock.amount }}
    </h2>
    <h2></h2>
  </div>
</header>
<div class="main-container">
  <div class="child-container">
    <h2>10 previous actions:</h2>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Index</th>
            <th>Trader Name</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Type Of Purchase</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of this.transactions">
            <td>{{ transaction.id }}</td>
            <td>{{ this.traders[transaction.traderId-1].name  }}</td>
            <td>{{ transaction.price }}</td>
            <td>{{ transaction.amount }}</td>
            <td *ngIf="transaction.purchase">Purchase</td>
            <td *ngIf="!transaction.purchase">Sale</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="child-container">
    <h2>Open transactions:</h2>
    <table>
      <thead>
        <tr>
          <th>Index</th>
          <th>Trader Name</th>
          <th>Price</th>
          <th>Amount</th>
          <th>Type</th>
          <th>Interact</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of this.openRequests">
          <td>{{ request.id }}</td>
          <td>{{ this.traders[request.traderId-1].name }}</td>
          <td>{{ request.offer }}</td>
          <td>{{ request.amount }}</td>
          <td *ngIf="request.purchase">Purchase</td>
          <td *ngIf="!request.purchase">Sale</td>
          <td *ngIf="this.trader?.Id != request.traderId && !request.purchase">
            <button
                class="editbtn"
                routerLink="/share-page"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                (click)="onInteraction(request.id)"
              >
              Buy
            </button>
          </td>
          <td *ngIf="this.trader?.Id != request.traderId && request.purchase">
            <button
                class="editbtn"
                routerLink="/share-page"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                (click)="onInteraction(request.id)"
              >
              Sell
            </button>
          </td>
          <td *ngIf="this.trader?.Id == request.traderId"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="child-container">
    <h2>Create new share request</h2>
    <form>
      <table class="no_border">
        <tr class="no_border">
          <td class="no_border right_align">
            <label class="form_label">Type of request:</label>
          </td>
          <td class="no_border left_align">
            <select #purchase_type id="purchase_share" class="form_child">
              <option value="purchase">Purchase</option>
              <option value="sell">Sell</option>
            </select>
          </td>
        </tr>
        <tr class="no_border">
          <td class="no_border right_align">
            <label class="form_label" for="broker_id">Offer:</label>
          </td>
          <td class="no_border left_align">
            <input #share_offer class="form_child" type="number" id="share_offer" placeholder="Enter your offer" />
          </td>
        </tr>
        <tr class="no_border">
          <td class="no_border right_align">
            <label class="form_label" for="broker_id">Share Amount:</label>
          </td>
          <td class="no_border left_align">
            <input #share_amount class="form_child" type="number" id="share_amount" placeholder="Enter amount" />
          </td>
        </tr>
      </table>
    </form>
    <button class="form_child" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="onSubmit()">Enter
      request</button>
  </div>
</div>