<div class="toolbar" role="banner">
  
  <span></span>
  <a
    class="toolbar_button"
    routerLink="/welcome-page"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >
    <img width="40" class="home_logo" src="./assets/home-logo.jpg" />
    </a
  >
</div>
<header class="main-container">
  <h2>Please connect to your account</h2>
</header>
<div class="main-container">
  <div class="child-container">
    <form class="user_login_child" action="">
      <label class="form_child" for="broker_id">Broker Id:</label><br />
      <input
        class="form_child"
        type="text"
        id="broker_id"
        name="broker_id"
        value="123"
        #broker_id
      /><br />
    </form>
    <button class="form_child" (click)="routePage()">
      Connect
    </button>
  </div>
</div>
<footer class="main-container">
  Created by roei daniel
</footer>
